<h1>Mis rutas</h1>
<hr>
<div class="row">
  <div class="col-2">
    <ul class="list-group">
      <a class="list-group-item list-group-item-action"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]=" { exact: true } "
        >Contador</a>
      <a class="list-group-item list-group-item-action"
        routerLink="libros"
        routerLinkActive="active">Libros</a>
      <a class="list-group-item list-group-item-action"
        routerLink="montes"
        routerLinkActive="active">Montes</a>
    </ul>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
