<h1>Montes de Malaga</h1>
<hr>

<div class="row">
  <div class="col">
    <app-lista-montes></app-lista-montes>
  </div>

  <div class="col">
    <h3>Agregar</h3>
    <hr>
    <!-- <form (ngSubmit)="agregar(monte)">
      <input
        type="text"
        name="nombre"
        placeholder="Nombre"
        [(ngModel)]="monte.nombre">
      <input
        type="number"
        name="altitud"
        placeholder="Altitud"
        [(ngModel)]="nuevo.altitud">
      <button type="submit">Agregar</button>
    </form> -->
  </div>
</div>
