<h2 class="text-white text-center">Tienda</h2>
<hr class="text-white">

<ul class="list-group">
  <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" class="list-group-item"class="list-group-item text-center">
    Dashboard
  </li>

  <li routerLink="/nuevocliente" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" class="list-group-item text-center">
    Registrar Cliente
  </li>

  <li routerLink="/nuevoproducto" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" class="list-group-item text-center">
    Registrar Producto
  </li>
</ul>
