<div class="row">
  <div class="col-2">
    <p>Nombre:</p>
  </div>
  <div class="col-2">
    <input type="text" name="name" [(ngModel)]="nuevo.nombre">
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p>CIF:</p>
  </div>
  <div class="col-2">
    <input type="text" name="cif" [(ngModel)]="nuevo.cif" />
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p>Direccion:</p>
  </div>

  <div class="col-2">
    <input type="text" name="dir" [(ngModel)]="nuevo.direccion" />
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p>Grupo:</p>
  </div>

  <div class="col-2">
    <select name="grupo" [(ngModel)]="nuevo.grupo.id">
      <option value="0">Sin definir</option>
      <option value="1">Activos</option>
      <option value="2">Inactivos</option>
      <option value="3">Deudores</option>
    </select>
  </div>
</div>

<button class="rounded" name="save" (click)="agregar()">Guardar</button>
